@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

h1{
  text-align: center;
  font-size: 45px;
}

/* Left Section*/
#left{
  overflow: hidden;
  width: 50%;
  height: 35%;
  /*margin-right: 50px;*/
}
/* Right Section*/
#right{
  float: right;
  width: 50%;
  height: 50%;
}
/* tag */
body {
  font-family: 'Roboto Slab', serif;
  color: #7080FC;
  background-color: #BBF9BE;
  /*width: 75%;
  height: 120%;
  */
  padding: 20px;
}

.container img{
  width: 50%;
  height: 50%;
}

div{
  margin: 0px;
  padding: 0px;
}

p{
  padding: 0px;

}

div{
  margin: 0px;
  padding: 20px;
}

/* id */
#worktag{
  color: green;
}

/* class */
.worktag {
  color: red;
}
